/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
  
ul, ol {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: inherit;
}

  /* Main CSS */ 

  /* 
    font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif;
  */

:root {
    --darkcolor: #1f2937;
    --greycolor: #e5e7eb;
    --whitecolor: #f1f1f1;
    --bluecolor: #3882f6;
}


header{
    padding: 0 15%;
    padding-top: 10px;
    background-color: var(--darkcolor);
    color: var(--whitecolor);
}

nav{
    padding: 0 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    flex-shrink: 0;
}
ul{
    display: flex;
    justify-content: flex-end;
}

.nav-list{
    margin-left: 25px;
    
}
.nav-list:hover{
    color: var(--bluecolor);
    text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.1);
    transition: color 0.5s ease-in-out 0.1s;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    padding-bottom: 50px;
}
#hero-img{
    width: 521px;
    border-radius: 8px;
}

h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}
.hero p {
    text-align: justify;
    padding: 5px 0 8px 0;
    font-size: 18;
    font-weight: 400;
}

.btn{
    background-color: var(--bluecolor);
    color: var(--whitecolor);
    font-weight: 400;
    padding: 5px 25px;
    border: none;
    border-radius: 8px;
    flex-shrink: 0;
}
.btn:hover{
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);

}



/* Team Section */

.team{
    padding: 20px 15% ;
}
.title{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.group-card{
    margin-top: 25px;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.card{
    width: 160px;
    margin: 0 10px;
}
.card img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 3px solid var(--bluecolor);
    border-radius: 8px;
}
.card-text{
    text-align: center;
    
}



/*  Review section  */

.review{
    background-color: var(--greycolor);
    padding: 20px 15%;
}

.review-text{
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
}

.client-name{
    font-weight: 900;
    text-align: right;
}

/* Join Section */
.join-us{
    padding: 50px 15%;
}

.CTA-box{
    background-color:var(--bluecolor);
    color: var(--whitecolor);
    border-radius: 8px;
    padding: 10px 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.text-CTA h3{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}
.join-us .btn{
    border: 1px solid #f1f1f1;
}
/* Footer Section */
footer{
    background-color: var(--darkcolor);
    padding: 37.5px 0;
}
.footer-text{
    text-align: center;
    color: var(--whitecolor);
    
    height: 25px;
}

/* -------------- */
 /* RESPONSIVITY */
 @media (max-width:1200px) {
    .hero{
        flex-direction: column;
    }
}

@media (max-width:750px){
    header{
        padding: 5px 5%;
    }
    nav{
        flex-direction: column;
        padding-bottom: 20px;
    }
    ul{
        width: 100vw;
        justify-content: space-evenly;
    }

    #hero-img{
        width: 100%;
    }
    .review{
        padding: 20px 5%;
    }
    .CTA-box{
        flex-direction: column;
    }
    .text-CTA{
        text-align: center;
    }
}

@media (max-width:400px){

    .card{
        margin-bottom: 10px;
    }
    .nav-list{
        margin:0;
        
    }
    .review{
        padding: 50px 5%;
    }
    .review-text{
        font-size: 20px;
    }
    .join-us{
        padding: 0;
    }
    .CTA-box{
        border-radius: 0;
    }
    footer{
        padding: 20px 0;
    }
    .footer-text{
        font-size: 12px;
    }
}