/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
  
ul, ol {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: inherit;
}

  /* Main CSS */ 

  /* 
    font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif;
  */
:root{
    --darkcolor: #1f2937;
    --greycolor: #e5e7eb;
    --whitecolor: #f1f1f1;
    --bluecolor:#3882f6;
    
  }



header{
    background-color: var(--darkcolor);
    color: var(--whitecolor);
    min-height: 534px;
    padding: 20px 15%;
    
}
.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    width: 300px;
}



.hero img{
    
    object-fit: cover;

    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(229, 231, 235, 0.1);  
}
#hero-img{
    flex-shrink: 0;
    height: 235px;
    width: 521px;
}


.hero{
    padding-top: 100px;
    height: 400px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 20px;
    
}

.nav-list, p{
    font-size: 18px;
    font-weight: 400;
}
h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 40px;

    margin-bottom: 15px;
}

button{
    margin-top:15px ;

    background-color: var(--bluecolor);
    color: var(--whitecolor);
    font-weight: 400;
    font-size: 18px;
}


.btn-buy{
    height: 36px;
    width: 130px;
    border: none;
    border-radius: 8px;
}

.nav-list:hover{
    color: var(--bluecolor);
    transition: 500ms ease 100ms;

}

.box-shadow:hover{
    box-shadow: 0px 0px 10px 1px #f1f1f1;
    transition: 500ms ease-in-out;
}


/* OUR TEAM SECTION */
.team{
    height: 489px;
}

.title{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    height: 60px;
}
.group-card{
    
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
}
.card{
    height: min-content;
    width: min-content;
}

.card-img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid #3882f6;
}


.card-text{
    text-align: justify;
    font-size: 16px;
    color: var(--darkcolor);
}